<h2>Ferramentas</h2>
<p>
  Para este treinamento as ferramentas abaixo são necessárias.<br/>
  * Requiridas
</p>
<div class="card-container">
  <div class="card">
    <a target="_blank" href="https://www.java.com/en/download/win10.jsp">* Java 8 Update 261</a>
  </div>
  <div class="card">
    <a target="_blank"
       href="https://github.com/git-for-windows/git/releases/download/v2.28.0.windows.1/Git-2.28.0-64-bit.exe">
      * Git for Windows
    </a>
  </div>
  <div class="card">
    <a target="_blank" href="https://www.jetbrains.com/idea/download/download-thanks.html?platform=windows&code=IIC">
      * IntelliJ Community
    </a>
  </div>
  <div class="card">
    <a target="_blank" href="https://welcome.webex.com/client/T33L/atrecply.msi">
      * Player WRF
    </a>
  </div>
</div>
<div class="card-container">
  <div class="card-extra-large">
    <a target="_blank" href="http://ftp.man.poznan.pl/apache/maven/maven-3/3.6.3/binaries/apache-maven-3.6.3-bin.zip">Apache Maven</a>
    <ul>
      <li>Descompacte o Zip em uma pasta de sua preferência</li>
      <li>Adicione a pasta &lt;Maven Home&gt;\bin no PATH do Sistema Operacional</li>
      <li>Configure o IntelliJ para utilizar esta instalação de Maven</li>
    </ul>
  </div>
</div>
