<h2>Ferramentas</h2>
<p>Para este treinamento as ferramentas abaixo são necessárias</p>
<div class="card-container">
  <ul>
    <li>
      <strong>JDK</strong><br/>
      <a target="_blank" href="https://www.java.com/en/download/win10.jsp">Java 8 Update 261</a><br/>
      Click no botão [Agree and Start Free Download]
    </li>
    <li>
      <strong>Git</strong><br/>
      <a target="_blank" href="https://github.com/git-for-windows/git/releases/download/v2.28.0.windows.1/Git-2.28.0-64-bit.exe">Git for Windows</a><br/>
      Execute o arquivo .exe
    </li>
    <li>
      <strong>IntelliJ Community</strong><br/>
      <a target="_blank" href="https://www.jetbrains.com/idea/download/download-thanks.html?platform=windows&code=IIC">Download</a><br/>
      Execute o arquivo .exe
    </li>
  </ul>
</div>
