<h2>Programa</h2>
<p>Fase 1 (2020)</p>
<div class="card-container">
  <ul>
    <li>
      <strong>Módulo 1 - Arquitetura base para o Backend</strong>
      <ul>
        <li>Linguagem Java</li>
        <li>Maven</li>
        <li>Git</li>
        <li>Programação Orientada a Objetos</li>
        <li>Java e POO</li>
        <li>Java Collection Framework</li>
        <li>Java 8 - Novos Recursos [Stream/Optional/Function/...]</li>
        <li>Java IO</li>
        <li>Java NIO</li>
        <li>Java Threads</li>
        <li>Banco de Dados Relacional e Linguagem SQL</li>
        <li>Java Database Connectivity - JDBC</li>
        <li>Java Persistence API - JPA</li>
        <li>REST</li>
        <li>Spring Boot Framework</li>
        <li>Desenvolvimento de Backend usando Java/JPA/SpringBoot</li>
      </ul>
    </li>
    <li>
      <strong>Módulo 2 - Arquitetura base para o Frontend</strong>
      <ul>
        <li>Angular Framework</li>
        <li>Bootstrap | Material Design</li>
        <li>Design System</li>
        <li>Desenvolvimento de Frontend usando Angular/[Bootstrap|Material Design] aplicando conceitos de Design System</li>
      </ul>
    </li>
    <li>
      <strong>Módulo 3 - Containerization</strong>
      <ul>
        <li>Docker</li>
        <li>Docker Compose</li>
        <li>Aplicação do Docker e Docker Compose ao desenvolvimento do backend</li>
        <li>Aplicação do Docker e Docker Compose ao desenvolvimento do frontend</li>
      </ul>
    </li>
  </ul>
</div>

<p>Fase 2 (2021)</p>
<div class="card-container">
  <ul>
    <li>
      <strong>Módulo 4 - Continuous Integration e Continuous Delivery</strong><br/>
      Desenvolvimento de pipeline para integração contínua e entrega contínua.
      <ul>
        <li>Instalação de ferramenta para integração contínua</li>
        <li>Instalacao de ferramenta para analise estatica de codigo</li>
        <li>Instalacao de ferramenta para repositorio de artefatos</li>
        <li>Configuração de pipelines para construir a aplicação e executar testes unitários</li>
        <li>Configuração de pipelines para publicar a aplicação em ambiente de homologação</li>
        <li>Configuração de pipelines para publicar a aplicação em ambiente produtivo</li>
      </ul>
    </li>
    <li>
      <strong>Módulo 5 - Melhorias Arquitetura Backend</strong><br/>
      Melhorias a serem aplicadas na arquitetura do backend:
      <ul>
        <li>Implementação de estrutura de cache de segundo nível para JPA como opção de melhoria de performance da camada de persistência</li>
        <li>Utilização de servidor de cache Redis ou Memcache</li>
        <li>Diminuindo o “payload” e consequentemente melhorando a performance da aplicação com exposição dos serviços em GraphQL</li>
        <li>Utilização do banco de dados MongoDB como opção para banco NoSQL</li>
        <li>Implementacao de microservice com Quarkus (como outra opção para microservice Java)</li>
        <li>Melhoria de performance com Java Concurrency API</li>
        <li>Utilização do paradigma de programação reativa com RxJava</li>
      </ul>
    </li>
    <li>
      <strong>Módulo 6 - Melhorias Arquitetura Frontend</strong>
      <ul>
        <li>Melhorando a performance da aplicação e SEO com Server Side Rendering</li>
        <li>Melhorando a performance da aplicação com PWA/Cache API</li>
        <li>Responsividade com media queries</li>
      </ul>
    </li>
    <li>
      <strong>Módulo 7 - Melhorias Containerization</strong>
      <ul>
        <li>Kubernetes</li>
        <li>Aplicação do Kubernetes ao backend</li>
        <li>Aplicação do Kubernetes do frontend</li>
      </ul>
    </li>
    <li>
      <strong>Módulo 8 - Desenvolvimento Mobile</strong><br/>
      Definição de tecnologia mobile e utilização na mesma para a construção de aplicativo mobile
      <ul>
        <li>Pesquisa das tecnologias mobile mais indicadas para serem utilizadas pela equipe técnica na construção de aplicativos mobile</li>
        <li>Definição da aplicação exemplo utilizando casos de uso real do órgão</li>
        <li>Construção da aplicação</li>
        <li>Procedimentos de publicacao em Loja</li>
      </ul>
    </li>
  </ul>
</div>

