<h2>Programa</h2>
<p>Fase 1 (2020)</p>
<div class="card-container">
  <ul>
    <li>
      <strong>Módulo 1 - Arquitetura base para o Backend</strong>
      <ul>
        <li>Linguagem Java</li>
        <li>Maven</li>
        <li>Git</li>
        <li>Programação Orientada a Objetos</li>
        <li>Java e POO</li>
        <li>Java Collection Framework</li>
        <li>Java 8 - Novos Recursos [Stream/Optional/Function/...]</li>
        <li>Java IO</li>
        <li>Java NIO</li>
        <li>Java Threads</li>
        <li>Banco de Dados Relacional e Linguagem SQL</li>
        <li>Java Database Connectivity - JDBC</li>
        <li>Java Persistence API - JPA</li>
        <li>REST</li>
        <li>Spring Boot Framework</li>
        <li>Desenvolvimento de Backend usando Java/JPA/SpringBoot</li>
      </ul>
    </li>
    <li>
      <strong>Módulo 2 - Arquitetura base para o Frontend</strong>
      <ul>
        <li>Vue Framework</li>
        <li>Bootstrap | Material Design</li>
        <li>Design System</li>
        <li>Desenvolvimento de Frontend usando Vue/[Bootstrap|Material Design] aplicando conceitos de Design System</li>
      </ul>
    </li>
    <li>
      <strong>Módulo 3 - Containerization</strong>
      <ul>
        <li>Docker</li>
        <li>Docker Compose</li>
        <li>Aplicação do Docker e Docker Compose ao desenvolvimento do backend</li>
        <li>Aplicação do Docker e Docker Compose ao desenvolvimento do frontend</li>
      </ul>
    </li>
  </ul>
</div>

