<h2>Aulas</h2>
<div class="card-container">
  <ul>
    <li>
      <strong>Módulo 1 - Arquitetura base para o Backend</strong>
      <ul>
        <li>
          <strong>09/10/2020 (Sex)</strong>
          <ul>
            <li>
              Conteúdo:
              <ul>
                <li>Carregamento dinamico de classes</li>
                <li>Expressoes Regulares</li>
                <li>
                  Exemplos:
                  <ul>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/regex-1">regex-1</a></li>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/regex-2">regex-2</a></li>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/extras/dynamic-execution-1/dynamic-execution-1-api">dynamic-execution-1-api</a></li>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/extras/dynamic-execution-1/dynamic-execution-1-implementation-A">dynamic-execution-1-implementation-A</a></li>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/extras/dynamic-execution-1/dynamic-execution-1-implementation-B">dynamic-execution-1-implementation-B</a></li>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/extras/dynamic-execution-1/dynamic-execution-1-main">dynamic-execution-1-main</a></li>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/extras/dynamic-execution-1/dynamic-execution-2-api">dynamic-execution-2-api</a></li>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/extras/dynamic-execution-1/dynamic-execution-2-implementation-A">dynamic-execution-2-implementation-A</a></li>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/extras/dynamic-execution-1/dynamic-execution-2-implementation-B">dynamic-execution-2-implementation-B</a></li>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/extras/dynamic-execution-1/dynamic-execution-2-main">dynamic-execution-2-main</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-10-02.wrf">
                Download Aula
              </a>
            </li>
          </ul>
        </li>
        <li>
          <strong>07/10/2020 (Qua)</strong>
          <ul>
            <li>
              Conteúdo:
              <ul>
                <li>String</li>
                <li>
                  Exemplos:
                  <ul>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/string-equals-final">string-equals-final</a></li>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/string-common-methods">string-common-methods</a></li>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/string-builder">string-builder</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-10-02.wrf">
                Download Aula
              </a>
            </li>
          </ul>
        </li>
        <li>
          <strong>05/10/2020 (Seg)</strong>
          <ul>
            <li>
              Conteúdo:
              <ul>
                <li>Default Metodos em Interface, Exceptions</li>
                <li>
                  Exemplos:
                  <ul>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/object-interface-2">object-interface-2</a></li>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/exception-1">exception-1</a></li>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/exception-2">exception-2</a></li>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/exception-3">exception-3</a></li>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/exception-4">exception-4</a></li>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/object-oriented-visibility">object-oriented-visibility</a> </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-10-02.wrf">
                Download Aula
              </a>
            </li>
          </ul>
        </li>
        <li>
          <strong>02/10/2020 (Sex)</strong>
          <ul>
            <li>
              Conteúdo:
              <ul>
                <li>Metodos equals e hashCode, Interface e Generic</li>
                <li>
                  Exemplos:
                  <ul>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/solucoes/object-oriented-equals">object-oriented-equals</a></li>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/solucoes/object-interface">object-interface</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-10-02.wrf">
                Download Aula
              </a>
            </li>
          </ul>
        </li>
        <li>
          <strong>30/09/2020 (Qua)</strong>
          <ul>
            <li>
              Conteúdo:
              <ul>
                <li>Classe abstrata, interface, Liskov Substitution Principle (SO[L]ID), Java Clonning e Contrato do metodo equals</li>
                <li>
                  Exemplos:
                  <ul>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/solucoes/object-oriented-2-strategy">object-oriented-2-strategy</a></li>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/solucoes/object-oriented-figura">object-oriented-figura</a></li>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/solucoes/object-oriented-equals">object-oriented-equals</a></li>
                    <li><a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/solucoes/object-clonning">object-clonning</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-09-30.wrf">
                Download Aula
              </a>
            </li>
          </ul>
        </li>
        <li>
          <strong>28/09/2020 (Seg)</strong>
          <ul>
            <li>
              Conteúdo:
              <ul>
                <li>
                  Exemplos:
                  <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/master/object-oriented-2">object-oriented-2</a>
                  e
                  <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/solucoes/object-oriented-2-strategy">object-oriented-2-strategy</a>
                </li>
              </ul>
            </li>
            <li>
              <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-09-28-a.wrf">
                Download Aula (parte a)
              </a>
            </li>
            <li>
              <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-09-28-b.wrf">
                Download Aula (parte b)
              </a>
            </li>
          </ul>
        </li>
        <li>
          <strong>25/09/2020 (Sex)</strong>
          <ul>
            <li>
              Conteúdo:
              <ul>
                <li>Conceitos de Programação Orientada a Objetos</li>
                <li>Classe Object, metodo toString() - exemplo: <a target="_blank" href="https://github.com/filosofisto/archsoft-training-code/tree/solucoes/object-oriented-1">object-oriented-1</a> </li>
              </ul>
            </li>
            <li>
              <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-09-25.wrf">
                Download Aula (parte a)
              </a>
            </li>
            <li>
              <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-09-25-b.wrf">
                Download Aula (parte b)
              </a>
            </li>
            <li>
              <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/oop.pdf">
                Download Apresentação
              </a>
            </li>
          </ul>
        </li>
        <li>
          <strong>23/09/2020 (Qua)</strong>
          <ul>
            <li>
              Conteúdo:
              <ul>
                <li>Lista 1 - Problemas 8, 10 e 16</li>
              </ul>
            </li>
            <li>
              <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-09-23.wrf">
                Download Aula
              </a>
            </li>
            <li>
              <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-09-23-b.wrf">
                Download Aula (parte b)
              </a>
            </li>
          </ul>
        </li>
        <li>
          <strong>21/09/2020 (Seg)</strong>
          <ul>
            <li>
              Conteúdo:
              <ul>
                <li>Operadores da Linguagem - Exemplo <strong>operators</strong></li>
                <li>Lista 1 - Problemas 5 e 13</li>
                <li>Arrays - String[] (args) / float[]</li>
                <li>Conversão de String para float com Float.parseFloat()</li>
                <li>Loops: for / foreach / while</li>
                <li>if / else</li>
                <li>Blocos: &#123; &#125;</li>
                <li>Comentarios: Bloco /* */ e Linha //</li>
              </ul>
            </li>
            <li>
              <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-09-21.wrf">
                Download Aula
              </a>
            </li>
          </ul>
        </li>
        <li>
          <strong>18/09/2020 (Sex)</strong>
          <ul>
            <li>
              Conteúdo:
              <ul>
                <li>Git Flow</li>
                <li>
                  Noções de Gerenciamento de Código Fonte -
                  git add/commit/pull/push/push -u/checkout/checkout -b/stash list/stash save
                  e Resolução de Conflito
                </li>
              </ul>
            </li>
            <li>
              <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-09-18.wrf">
                Download Aula
              </a>
            </li>
            <li>
              <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/GitFlow.wrf">
                Download Aula - Git Flow
              </a>
            </li>
            <li>
              Leitura Recomendada: <a target="_blank" href="https://nvie.com/posts/a-successful-git-branching-model">https://nvie.com/posts/a-successful-git-branching-model</a>
            </li>
          </ul>
        </li>
        <li>
          <strong>16/09/2020 (Qua)</strong>
          <ul>
            <li>
              Conteúdo:
              <ul>
                <li>Projeto hello-world</li>
                <li>Noções do Apache Maven</li>
                <li>Noções de Gerenciamento de Código Fonte - git clone</li>
                <li>Noções de Teste Unitário - JUnit Framework</li>
              </ul>
            </li>
            <li>
              <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-09-16.wrf">
                Download Aula (resumo)
              </a>
            </li>
            <li>
              <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/Aula-2020-09-16-b.wrf">
                Download Aula - Teste Unitário (resumo)
              </a>
            </li>
          </ul>
        </li>
        <li>
          <strong>15/09/2020 (Ter)</strong>
          <ul>
            <li>
              Conteúdo:
              <ul>
                <li>Apresentação do treinamento</li>
                <li>Apresentações pessoais</li>
                <li>Introdução a Plataforma Java</li>
              </ul>
            </li>
            <li>
              <a target="_blank" href="https://archsoft-trainning.s3.eu-central-1.amazonaws.com/assets/java.pdf">
                Download Apresentação
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>

