<h2>Aulas</h2>
<div class="card-container">
  <ul>
    <li>
      <strong>Módulo 1 - Arquitetura base para o Backend</strong>
      <ul>
        <li>
          <strong>15/09/2020</strong>
          <ul>
            <li><strong>Conteúdo:</strong>...</li>
            <li><span class="disable-links"><a href="#">Download Lista de Exercícios</a></span></li>
            <li><span class="disable-links"><a href="#">Download Vídeo</a></span></li>
            <li><span class="disable-links"><a href="#">Download Apresentação</a></span></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>

